/*CSS reset*/
*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%; widows: 100%; font-size: 1; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; color: #ffffff;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------*/


body{
    max-height: 100vh;
    background-color: #f7f7f7;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0px 0px 5px #a1a1a1;
    background-color: #ffffff;
}
.main{
    color: #1f2fc0;
    transition: 0.3s ease;
}
.main:hover{
    color: #000000;
    cursor: pointer;
}
.main:hover .section-title-icon{
    display: block;
}
.main-title{
    padding: 0px 5px 20px;
    font-size: 45px;
    font-weight: 700;
    border-bottom: 1px solid #888686;
}
.container {}
.main {}
.bayan{
    height: 70px;
    overflow: hidden;
    transition: all 1s ease;
}
.bayan:hover{
    height: 700px;
}
.bayan:hover .img{
    display: block;
}
.bayan:hover .section-title-icon{
    rotate: -45deg;
}
.first-bayan {
    padding: 0px 0px 20px;
    border-bottom: 1px solid #888686;
}
.section-title {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px 30px;
    font-size: 25px;
    font-weight: 700;
}
.section-title:hover .section-title-icon{
    rotate: -45deg;
}
.section-title-icon{
    display: none;
}
.first-bayan-img {
    display: none;
    margin: auto;
    transition: all 1s ease;
}
.second-bayan {
    padding: 0px 0px 20px;
    border-bottom: 1px solid #888686;
}
.second-bayan-img {
    display: block;
    width: 700px;
    margin: auto;
}
.third-bayan {
    padding: 0px 0px 20px;
    border-bottom: 1px solid #888686;
}
.third-bayan-img {
    display: block;
    width: 700px;
    margin: auto;
}
.fourth-bayan{}
.fourth-bayan-text{
    padding: 0px 0px 20px;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
}
.fourth-bayan-img {
    display: block;
    width: 700px;
    margin: auto;
}